<div class="h-100 d-flex align-items-center justify-content-center">
  <div class="col-6 ">
    <h1>Welcome to Weather app!</h1>
    <button class="col-6 btn btn-primary mb-5 mr-1" routerLink="/home" routerLinkActive="active">Home</button>
    <button class="col-6 mb-5 btn btn-primary" routerLink="/dashboard" routerLinkActive="active">Dashboard</button>
  </div>

</div>

<div class="h-100 d-flex align-items-center justify-content-center">
  <div class="col-6">
    <router-outlet></router-outlet>
  </div>
</div>
